@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.header-bg {
    background-color: #fef3c7;
}

.page-mergin{
    margin: 0 6%;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon-d {
    width: 23%;
}

.nav-icon {
    width: 100%;
}

.nav-item {
    display: flex;
    list-style-type: none;
}

.nav-i-padng {
    padding: 20px 15px;
}

.nav-i-padng a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: rgb(41, 39, 39);
}
.d-flex{
    display: flex;
}
.header-item{
    width: 45%;
}
.header-left-item{
    margin-right: 10%;
    padding-top: 10%;
}
.header-item img{
    padding-top: 5%;
}
.header-title{
    font-size: 56px;
    color: #FBBF24;
    line-height: 55px;
}
.header-title-span{
    color: #1F2937;
}
.header-pera{
    margin-top: 30px;
    line-height: 25px;
}
.header-buy{
    padding: 13px 30px;
    border: none;
    background-color: #059669;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 25px;
}
.header-buy img{
    width: 27px;
    margin-right: 5px;
}
.bottom-padding{
    padding-bottom: 50px;
}
/* main , section 1 */
.jacket-header{
    font-size: 40px;
    padding: 50px 0 25px 0;
}
.cards{
    display: flex;
}
.card{
    box-shadow: 0 0 10px 1px rgb(212, 207, 207);
    width: 30%;
    padding: 17px;
    border-radius: 10px;
}
.img-w{
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-w img{
    width: 80%;
    border-radius: 10px;
    height: 20rem;
    padding: 20px 0;
}
.card-heading{
    padding: 17px 0;
    font-size: 30px;
}
.card-pera{
    line-height: 25px;
}
.card-btn-pc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.card-price{
    font-size: 50px;
    color: #fbbf24;
}
.card-btn{
    padding: 13px 30px;
    border: none;
    background-color: #059669;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.card-btn img{
    width: 27px;
    margin-right: 5px;
}
.middle-card{
      margin: 0 2%;
}
.section-margin-btm{
    margin-bottom: 100px;
}
/* last section */
.section-grid{
    display: grid;
}





/* Footer */
.footer-bg{
    background-color: #FDE68A;
}
.footer-p{
    font-weight: 700;
    text-align: center;
    padding: 10px;
    font-size: 22px;
}